<%= form_with model: [ @article, @article.posts.build ] do |form| %>
  <p>
    <%= form.label :poster %><br>
    <%= form.text_field :poster %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
